/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Styles for the body */

body {font-family: "Neuton", serif;font-weight: 400;font-style: normal;}


/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #94B7C0;
}

.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color: #D8DBE1;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #D0CED9;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.language-progress {
	background-color: #D37E80;
}
.language-level {
	border: 2px solid #EBEBEB;
}